@{
    ViewBag.Title = "Home Page";
}
    <style>
        .jumbotron {
            margin-top: 20px;
            background-Image: url("/Controllers/Image.PNG");
            background-size: cover;
            color:white;
        }
    </style>
<div class="jumbotron">
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
    
    
  
    
</div>


<div class="row">
    <div class="col-md-4">
        <h2></h2>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        
    </div>
</div>